<manifest package="com.dineshkumar.familywalletnative"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Permissions required for SMS Detection -->
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.READ_SMS" />

  <application>
      <!-- SMS Receiver: Exported true required for Android 14 -->
      <receiver
          android:name=".SmsReceiver"
          android:exported="true"
          android:permission="android.permission.BROADCAST_SMS">
          <intent-filter android:priority="999">
              <action android:name="android.provider.Telephony.SMS_RECEIVED" />
          </intent-filter>
      </receiver>

      <!-- Notification Listener Service: Exported true required -->
      <service
          android:name=".FamilyWalletNotificationService"
          android:exported="true"
          android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
          <intent-filter>
              <action android:name="android.service.notification.NotificationListenerService" />
          </intent-filter>
      </service>
  </application>
</manifest>
